<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Add a Book</h1>
        </div>
        <div class="form-wrapper w-50">
            <form action="/books" method="POST">
                <div class="form-group">
                    <label for="new-book-title">Title</label>
                    <input
                        required 
                        class="form-control"
                        id="new-book-title" 
                        type="text" 
                        name="title" 
                    >
                </div>
                <div class="form-group">
                    <label for="new-book-author">Author</label>
                    <input
                        required 
                        class="form-control"
                        id="new-book-author" 
                        type="text" 
                        name="author" 
                    >
                </div>
                <div class="form-group">
                    <label for="new-book-image-url">Book Image URL</label>
                    <input
                        required 
                        class="form-control" 
                        id="new-book-image-url"
                        type="text" 
                        name="image" 
                        aria-describedby="image-url-requirements"
                        pattern="^https:\/\/i\.gr-assets\.com\/images\/S\/.*"
                    >
                    <small id="image-url-requirements" class="form-text text-muted">
                        Only images from <a href="https://goodreads.com/" target="_blank">goodreads.com</a> are accepted
                    </small>
                </div>
                <div class="form-group">
                    <label for="new-book-synopsis">Synopsis</label>
                    <textarea 
                        rows="5"
                        class="form-control"
                        id="new-book-synopsis" 
                        type="text" 
                        name="synopsis"
                    ></textarea> 
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-block btn-primary">Submit</button>
                </div>
            </form>
            <a href="/books">Cancel</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>