<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Request a Book</h1>
            <p class="h4">Please give as much information as possible</p>
        </div>
        <div class="form-wrapper w-50">
            <form>
                <div class="form-group">
                    <label for="requested-book-title">Title</label>
                    <input
                        required 
                        class="form-control"
                        id="requested-book-title" 
                        type="text" 
                        placeholder="Harry Potter and the Sorcerer's Stone"
                    >
                </div>
                <div class="form-row">
                    <div class="form-group col-md-10">
                        <label for="requested-book-series">Series Title</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="requested-book-series"
                            placeholder="Harry Potter"
                        >
                    </div>
                    <div class="form-group col">
                        <label for="requested-book-series-number">Series #</label>
                        <input 
                            type="number" 
                            min="1"
                            max="150"
                            step="1"
                            class="form-control" 
                            id="requested-book-series-number"
                            value="1"
                        >
                    </div>
                </div>
                <div class="form-group">
                    <label for="requested-book-author">Author(s)</label>
                    <input
                        class="form-control"
                        id="requested-book-author" 
                        type="text" 
                        placeholder="J.K. Rowling"
                    >
                </div>
                <div class="form-group">
                    <label for="publisher">Publisher</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="publisher" 
                        placeholder="Scholastic Inc."
                    >
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="isbn10">ISBN10</label>
                        <input 
                            type="text" 
                            id="isbn10" 
                            class="form-control" 
                            placeholder="0439708184" 
                            pattern="^\d{10}$"
                        >
                    </div>
                    <div class="col">
                        <label for="isbn13">ISBN13</label>
                        <input 
                            type="text" 
                            id="isbn13" 
                            class="form-control" 
                            placeholder="9780439708180" 
                            pattern="^\d{13}$"
                        >
                    </div>
                </div>
                <div class="form-group mt-3">
                    <button class="btn btn-lg btn-block btn-primary">Submit</button>
                </div>
            </form>
            <a href="/books">Cancel</a>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>