doctype html
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Page Not Found
  link(href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet")
  link(rel="stylesheet" href="/styles/error.css")
body
  #notFound
    .notFoundWrapper
      .notFound404
        span.numbers
          span 4
          span 0
          span 4
      span.text SORRY, THE PAGE YOU REQUESTED WAS NOT FOUND
//- This template was made by Colorlib (https://colorlib.com)(https://colorlib.com/etc/404/colorlib-error-404-3/)
