doctype html
head
  title BookTalk
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  link(rel="stylesheet" href="/styles/landing.css")
body
  if error && error.length > 0
    #alert-wrapper
      .alert #{error}
  #landing-header
    h1 Welcome to BookTalk!
    a(href="/books") Browse the Library