<!DOCTYPE html>
<html>
    <head>
        <title>BookTalk</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            body {
                background-color: black;
            }

            body::after {
                background: url("/images/landing-page-background.jpg");
                background-size: cover;
                opacity: 0.5;
                position: absolute;
                z-index: -1;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                content: "";
            }

            #landing-header {
                text-align: center;
                padding-top: 40vh;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
            <% } %> <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
            <% } %>
        </div>

        <div id="landing-header">
            <h1 style="color: #fff;">Welcome to BookTalk!</h1>
            <a href="/books" class="btn btn-lg btn-success">Browse the Library</a>
        </div>
    </body>
</html>
