html {
    scroll-behavior: smooth;
}

a {
    font-weight: bold;
}

a:hover {
   text-decoration:none;
}

.form-control:focus {
    box-shadow: none;
}

.form-wrapper {
    margin: 25px auto;
}

.checked {
    color: gold;
}

.reveal-if-active {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

input[type="checkbox"]:checked ~ .reveal-if-active {
    opacity: 1;
    max-height: 100px;
    overflow: visible;
}

.comment-well-new,
.comment-well-edit {
    margin-top: 15px;
    padding: 10px;
}

.comment-well-new { 
    display: block;
    border-left: 5px solid #00c851; 
}

.comment-well-edit {
    border-left: 5px solid #ffbb33; 
}

.fa-exclamation-triangle {
    color: red;
}

.profile-picture-url-input:hover {
    cursor: not-allowed;
} 

input:focus::-webkit-input-placeholder { transition: opacity 0.3s 0.3s ease; opacity: 0; }
input:focus:-moz-placeholder { transition: opacity 0.3s 0.3s ease; opacity: 0; } /* FF 4-18 */
input:focus::-moz-placeholder { transition: opacity 0.3s 0.3s ease; opacity: 0; } /* FF 19+ */
input:focus:-ms-input-placeholder { transition: opacity 0.3s 0.3s ease; opacity: 0; } /* IE 10+ */