a {
    font-weight: bold;
}

a:hover {
   text-decoration:none;
}

.homepage-search {
    width: 50%;
}

.form-control:focus {
    box-shadow: none;
}

.delete-form {
    display: inline;
}

.book-like-wrapper {
    padding-bottom: 10px;
}

.login-form-wrapper,
.register-form-wrapper,
.new-book-form-wrapper,
.edit-book-form-wrapper,
.new-comment-form-wrapper {
    width: 30%;
    margin: 25px auto;
}

.review-wrapper,
.review-edit-wrapper {
    width: 50%;
    margin: 25px auto;
}

.checked {
    color: gold;
}

.reveal-if-active {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

input[type="checkbox"]:checked ~ .reveal-if-active {
    opacity: 1;
    max-height: 100px;
    overflow: visible;
}

.homepage-book-cover,
.show-page-book-cover {
    width: 253px;
    height: 380px;
}

#editor-container {
    height: 375px;
}

.comment-well-new { 
    border-left: 5px solid #00c851; 
    padding: 10px;
}

.comment-well-edit {
    border-left: 5px solid #ffbb33; 
    margin-top: 15px; 
    padding: 10px;
}

.comment-well-submit-btn {
    margin-bottom: 0;
}

.fa-exclamation-triangle {
    color: red;
    margin-right: 5px;
}

input:focus::-webkit-input-placeholder { transition: opacity 0.3s 0.3s ease; opacity: 0; }
input:focus:-moz-placeholder { transition: opacity 0.3s 0.3s ease; opacity: 0; } /* FF 4-18 */
input:focus::-moz-placeholder { transition: opacity 0.3s 0.3s ease; opacity: 0; } /* FF 19+ */
input:focus:-ms-input-placeholder { transition: opacity 0.3s 0.3s ease; opacity: 0; } /* IE 10+ */