html {
    scroll-behavior: smooth;
}

a {
    font-weight: bold;
}

a:hover {
   text-decoration:none;
}

.form-control:focus {
    box-shadow: none;
}

.form-wrapper {
    margin: 25px auto;
}

.fa-star, .fa-star-half {
    color: gold;
}

.show-page-book-cover:hover {
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

.home-page-cards {
    transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
}

.home-page-cards:hover {
    transform: scale(1.025);
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -ms-transform: scale(1.025);
    -o-transform: scale(1.025);
}

.comment-well-add {
    border-left: 5px solid #00c851;
}

.comment-well-edit {
    border-left: 5px solid #ffbb33;
}

#book-request-faqs-accordion button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    color: #004987;
    padding: 0;
    text-decoration: none;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#search-input:focus {
    border-color: #138496;
}

input:focus::-webkit-input-placeholder { transition: opacity 0.3s 0.3s ease; opacity: 0; }
input:focus:-moz-placeholder { transition: opacity 0.3s 0.3s ease; opacity: 0; } /* FF 4-18 */
input:focus::-moz-placeholder { transition: opacity 0.3s 0.3s ease; opacity: 0; } /* FF 19+ */
input:focus:-ms-input-placeholder { transition: opacity 0.3s 0.3s ease; opacity: 0; } /* IE 10+ */

@media (max-width: 767px) {
    .book-searchbar {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .book-searchbar {
        width: 50%;
    }
}